.todos-bg-container {
  background-color: #f9fbfe;
  height: 100vh;
}

.todos-heading {
  text-align: center;
  font-family: "Bree Serif";
  font-size: 46px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}

.todo-items-heading {
  font-family: "Roboto";
  font-size: 5px;
  font-weight: bold;
  /* color: aqua; */
}

.todo-items-container {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.todo-item-container {
  margin-top: 15px;
}

.label-container {
  background-color: #e6f6ff;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #096f92;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 4px;
}

.task-name {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  /* width: 82%; */
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.date-text {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.checked {
  text-decoration: line-through;
}

.no-tasks {
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
}

.no-tasks-text {
  text-align: center;
  font-family: "Bree Serif";
  font-size: 20px;
  font-weight: bold;
}
